/* line 10, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  font-size: 20px;
  color: #3F4E5E;
  background-color: #EEE;
}
/* line 21, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view table.week td {
  vertical-align: top;
}
/* line 31, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view table.day tr.selected td {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 0px;
  border: 1px solid black;
  background: #1980e5;
  background-image: none;
  background-color: #4699eb;
  background-image: -webkit-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
  background-image: -moz-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
  background-image: -o-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
  background-image: -ms-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
}
/* line 40, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view table.day tr.selected td:first-child {
  border-right: none;
}
/* line 45, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view table.day tr.selected td:last-child {
  border-left: none;
}
/* line 55, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view table.day td.label {
  width: 40px;
  border-right: none;
  vertical-align: middle;
}
/* line 62, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view table.day td.time-block {
  text-align: left;
  font-size: 0.7em;
  height: 30px;
  border-left: none;
}
/* line 76, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view tbody td {
  border-bottom: 1px solid #a3a7af;
  border-left: 1px solid #a3a7af;
  border-right: 1px solid #dadbde;
  border-top: 1px solid #dadbde;
}
/* line 86, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view td {
  font-weight: bold;
  position: relative;
  background-image: none;
  background-color: #cfced3;
  background-image: -webkit-linear-gradient(top, #b5b3bb, #c2c1c7 10%, #cfced3 65%, #d0cfd4);
  background-image: -moz-linear-gradient(top, #b5b3bb, #c2c1c7 10%, #cfced3 65%, #d0cfd4);
  background-image: -o-linear-gradient(top, #b5b3bb, #c2c1c7 10%, #cfced3 65%, #d0cfd4);
  background-image: -ms-linear-gradient(top, #b5b3bb, #c2c1c7 10%, #cfced3 65%, #d0cfd4);
  vertical-align: top;
  text-align: right;
  font-size: 0.7em;
}
/* line 97, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view td.today {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 2px;
  -webkit-box-shadow: inset 0px 0px 8px #000;
  border: 1px solid black;
  background: #7188a8;
  background-image: none;
  background-color: #44566f;
  background-image: -webkit-linear-gradient(top, #313d4f, #3a4a5f 10%, #44566f 65%, #455771);
  background-image: -moz-linear-gradient(top, #313d4f, #3a4a5f 10%, #44566f 65%, #455771);
  background-image: -o-linear-gradient(top, #313d4f, #3a4a5f 10%, #44566f 65%, #455771);
  background-image: -ms-linear-gradient(top, #313d4f, #3a4a5f 10%, #44566f 65%, #455771);
}
/* line 108, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view td.unselectable {
  color: #89909A;
  background-image: none;
  background-color: #cda3a8;
  background-image: -webkit-linear-gradient(top, #bb8289, #c49399 10%, #cda3a8 65%, #cea5aa);
  background-image: -moz-linear-gradient(top, #bb8289, #c49399 10%, #cda3a8 65%, #cea5aa);
  background-image: -o-linear-gradient(top, #bb8289, #c49399 10%, #cda3a8 65%, #cea5aa);
  background-image: -ms-linear-gradient(top, #bb8289, #c49399 10%, #cda3a8 65%, #cea5aa);
}
/* line 114, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view td.selected {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 0px;
  border: 1px solid black;
  background: #1980e5;
  background-image: none;
  background-color: #4699eb;
  background-image: -webkit-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
  background-image: -moz-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
  background-image: -o-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
  background-image: -ms-linear-gradient(top, #8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
}
/* line 124, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view td.today.selected {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 2px;
  border: 1px solid black;
  background: #1980e5;
  background-image: none;
  background-color: #0f4d89;
  background-image: -webkit-linear-gradient(top, #0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b);
  background-image: -moz-linear-gradient(top, #0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b);
  background-image: -o-linear-gradient(top, #0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b);
  background-image: -ms-linear-gradient(top, #0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b);
}
/* line 134, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view td.prev-month, .touch-calendar-view td.next-month {
  color: #89909A;
}
/* line 139, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view td.prev-month.selected, .touch-calendar-view td.next-month.selected {
  color: #FFFFFF;
}
/* line 145, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view thead {
  background-image: none;
  background-color: #cfced3;
  background-image: -webkit-linear-gradient(top, #f6f6f7, #dcdbdf 3%, #c2c1c7);
  background-image: -moz-linear-gradient(top, #f6f6f7, #dcdbdf 3%, #c2c1c7);
  background-image: -o-linear-gradient(top, #f6f6f7, #dcdbdf 3%, #c2c1c7);
  background-image: -ms-linear-gradient(top, #f6f6f7, #dcdbdf 3%, #c2c1c7);
}
/* line 149, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view thead th {
  font-size: 9px;
  vertical-align: bottom;
  padding-bottom: 3px;
  color: #3F4E5E;
  text-align: center;
  height: 46px;
  text-shadow: white 1px 1px 1px;
  font-weight: bold;
  border-bottom: 1px solid #a3a7af;
}
/* line 161, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view thead th:first-child {
  background: url(../images/larr.png) center center no-repeat;
  cursor: pointer;
}
/* line 167, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view thead th:last-child {
  background: url(../images/rarr.png) center center no-repeat;
  cursor: pointer;
}
/* line 173, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view thead th span {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  left: 14.5%;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 71%;
  z-index: 999;
  text-shadow: white 1px 1px 1px;
}
/* line 195, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view .day thead th:first-child {
  background: url(../images/larr.png) 15px center no-repeat;
}
/* line 200, ../scss/Ext.ux.TouchCalendarView.scss */
.touch-calendar-view .day thead th:last-child {
  background: url(../images/rarr.png) right center no-repeat;
  margin-right: 15px;
}